data/
.DS_Store
./*/.DS_Store
_build/.DS_Store
*.nc
data/*.nc
playground/
notebooks/nonstationaryGEV/*.exe
notebooks/nonstationaryGEV/model_output/*/*
notebooks/nonstationaryGEV/*.txt
notebooks/nonstationaryGEV/*.dat
/notebooks/nonstationaryGEV/model_input/*.csv

/notebooks/nonstationaryGEV/model_output
/notebooks/nonstationaryGEV/model_output
/notebooks/nonstationaryGEV/model_output/14
/notebooks/nonstationaryGEV/model_output
notebooks/nonstationaryGEV/model_output/57/seasonal_params.json
/notebooks/nonstationaryGEV/model_output
/output/extremes
*.pyc
*.pyc
github_metadata_to_csv.py
notebooks/tseries_functions.py
