jupyter-book
numpy
pandas
xarray
cartopy
dask
docutils=0.17.1
ipykernel
netcdf4
python=3.9
scipy
seaborn
xarray
ipywidgets
lxml
nbformat
utide
pyextremes
joblib
great_tables
flox
notebook
spotpy
copernicusmarine
geopandas
polars