<style>
        body {
            font-family: Helvetica, sans-serif;
            margin: 20px;
        }
        table {
            width: 90%;
            border-collapse: collapse;
            background-color: #e6e9e98e;
            margin: 0 auto;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ffffff;
            padding-left: 8px !important;
            text-align: left;
            position: relative;
            padding: 4px;
        }
        th {
            background-color: #8cb8e2;
            text-align: center;
            padding: 8px;
        }
        a {
            text-decoration: none;
            color: blue;
        }
        tr:hover {background-color: rgba(185, 216, 238, 0.8); /* Change to your preferred highlight color */}
        .hover-content {
            display: none;
            position: absolute;
            background: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            z-index: 100;
            top: 100%;
            left: 50%; 
            transform: translateX(-50%); 
            text-align: center;
            max-height: 400px;
            overflow-y: auto;
        }
        .hover-content img {
            max-width: 500px;
            overflow-y: auto;
        }
        .hover-content .caption {
            margin-top: 10px;
            font-size: 14px;
            color: #555;
        }
        .icon {
            height: 20px;
            width: 30px;
            cursor: pointer;
            position: relative;
            display: inline-block;
            margin: 0 5px;
        }
        .icon:hover .hover-content,
        .icon:focus-within .hover-content,
        .hover-content:hover {
            display: block;
        }
        .nav-arrow {
            cursor: pointer;
            font-size: 24px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 101;
            color: black;
        }
        .nav-arrow.left {
            left: 10px;
        }
        .nav-arrow.right {
            right: 10px;
        }
        .table-csv{
            font-size: 9pt;
        }

        .image-container img {
            display: none;
        }
        .image-container-multi img {
            display: none;
            margin: 20px;
        }

        .image-container img.active {
            display: block;
        }
        .image-container img:first-child {
            display: block;
        }
        .container {
            margin-top: 20px; /* Adjust this to the desired margin */
            /* other styles... */
        }
    </style>